<table width=100% >
	<tr>
		<td align=center colspan=2><div id='idTitleListDialog'>Select a time</div></td>
	<tr>
		<td align=center colspan=2>
			<div class="palm-row" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper">
					<div id="idListDialog" x-mojo-element="ListSelector"></div>
				</div>
			</div>        
		</td>
	</tr>
	<tr>
		<td width="50%"><div id="saveListDialog" class="palm-button affirmative buttonfloat">Save</div></td>
		<td width="50%"><div id="cancelListDialog"  class="palm-button negative buttonfloat">Cancel<div></td>
	</tr>	
</table>