<div id="main" class="recherche_main">
	<div class="palm-header center">
	 <img src="images/logo_header.png" />
	</div>
	<br /><br />
	<div class="rech_ligne">
		<table>
			<tr>
				<td><span class="label_field_recherche" id="labelVille">&nbsp;</span><img class="img_gps" id="gpsButton" src="images/gps_not_activ.png" /></td>
			</tr>
			<tr>
				<td style="height:20px;"><div class="txt_recherche_ville" id="txt_recherche_ville" name="txt_recherche_ville" x-mojo-element="TextField"></div></td>
			</tr>
		</table>		
	</div>
	
	<div class="rech_ligne">
		<table>
			<tr>
				<td><span class="label_field_recherche" id="labelFilm">&nbsp;</span></td>
			</tr>
			<tr>
				<td style="height:20px;"><div class="txt_recherche_film" id="txt_recherche_film" name="txt_recherche_film" x-mojo-element="TextField"></div></td>
			</tr>
		</table>
	</div>
	
	<div class="rech_ligne rech_ligne_jour">
		<table>
			<tr>
				<td><span class="label_field_recherche" id="labelJour">&nbsp;</span></td>
			</tr>
			<tr>
				<td style="height:20px;"><div class="list_recherche_jour" id="list_recherche_jour" name="list_recherche_jour" x-mojo-element="ListSelector"></div></td>
			</tr>
		</table>
	</div>
<br />	
	<div class="rech_ligne rech_ligne_chercher">
		<div id="btn_chercher" class="cine_button" align="center">Rechercher</div>
	</div>
	
	
</div>