<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
		<div class="title left" id="idPrefName">
			Affichage film
		</div>
	</div>
</div>
<div class="palm-group">
    <div class="palm-group-title" id="idCatLang"><span>Lang</span></div>
        <div class="palm-list">
            <div class="palm-row last">
                <div class="palm-row-wrapper">
                    <div x-mojo-element="ToggleButton" id="idTradAuto"></div>
                    <div class="title_pref" id="titleTradAuto"></div>
					<div class="preview_pref" id="previewTradAuto"></div>
                </div>
            </div>            
        </div>
    </div>
</div>
<div class="palm-group">
    <div class="palm-group-title" id="idCatGen"><span>Gen</span></div>
        <div class="palm-list">
            <div class="palm-row last">
                <div class="palm-row-wrapper">
                    <div class="title_pref" id="titleTimeFormat"></div>
                    <div x-mojo-element="ListSelector" id="idTimeFormat"></div>
                </div>
			</div>   
			 <div class="palm-row last">
                <div class="palm-row-wrapper">
                    <div class="title_pref" id="titleTimeAdds"></div>
					<div class="preview_pref" id="previewTimeAdds"></div>
                    <div x-mojo-element="ListSelector" id="idTimeAdds"></div>
                </div>
            </div>        
        </div>
    </div>
</div>
<div class="palm-group">
    <div class="palm-group-title" id="idCatLoc"><span>Loc</span></div>
        <div class="palm-list">
            <div class="palm-row first">
                <div class="palm-row-wrapper">
                    <div class="title_pref" id="titleMeasureUnit"></div>
					<div class="preview_pref" id="previewMeasureUnit"></div>
                    <div x-mojo-element="ListSelector" id="idMeasureUnit"></div>
                </div>
            </div>   
			<div class="palm-row">
					<div class="palm-row-wrapper">
						<div x-mojo-element="ToggleButton" id="idTimeDrive"></div>
						<div class="title_pref" id="titleTimeDrive"></div>
						<div class="preview_pref" id="previewTimeDrive"></div>
					</div>
				</div>        
			 <div class="palm-row">
                <div class="palm-row-wrapper">
                    <div x-mojo-element="ToggleButton" id="idAllowLoc"></div>
                    <div class="title_pref" id="titleAllowLoc"></div>
					<div class="preview_pref" id="previewAllowLoc"></div>
                </div>
            </div>        
			<div class="palm-row last">
                <div class="palm-row-wrapper">
                    <div class="title_pref" id="titleLocProvider"></div>
					<div class="preview_pref" id="previewLocProvider"></div>
                    <div x-mojo-element="ListSelector" id="idLocProvider"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="palm-group">
    <div class="palm-group-title" id="idCatSort"><span>Sort</span></div>
        <div class="palm-list">
            <div class="palm-row last">
                <div class="palm-row-wrapper">
                    <div class="title_pref" id="titleSortTheater"></div>
					<div class="preview_pref" id="previewSortTheater"></div>
                    <div x-mojo-element="ListSelector" id="idSortTheater"></div>
                </div>
            </div>   
        </div>
    </div>
</div>

