/* Put Application specific CSS here. */

.black , .palm-dark{ height:auto; }

body.my-dark-backdrop { background: url(../images/AndroidShowTime_fond1.jpg) center top; }
body.my-light-backdrop { background: url(../images/cineshowtime_fond_light.jpg) center top; }

.palm-dark .label_field { font-weight:bold; color:#ff0000;}
.palm-light .label_field { font-weight:bold; color:#990000;}     

.header_title {background:url(../images/title.png) center top; height:30px; background-color:#9f0000;}

.cine_button {
		
	color:#535353;
	text-align:center;
	font-size:17px;
	
	padding-top:10px;
	height:35px;
	
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	margin-bottom:10px;
	
	border-width: 0 19px;
    -webkit-border-image: url(../images/button-cine.png) 0 19 0 19;
	-webkit-box-sizing: content-box;
}

.cine_button:active {
	border-width: 0 19px;
    -webkit-border-image: url(../images/button-cine-click.png) 0 19 0 19;
}

/* Style : A propos */

.about_title { color:#000000; font-size:18px; }
.about_version { color:#000000; font-size:14px; }

.about a {color:#5A5A5A;}

/* Style : What's new */

#whats-new_title    { margin-bottom:10px; margin-top:7px; color:black; }
.whatsnew_header    { border-bottom:1px solid #333333; margin-bottom:5px; }

.versions           { color:#333333; font-size:16px; margin:0px;  margin-left:-25px; list-style-type:none; }
.versions li        { margin-bottom:5px; margin-top:5px; }
.versions .current  { font-weight:bold; }
.versions ul        { list-style-type:disc; }
.versions ul li     { font-size:14px; margin:0px; }

/* Style : Page d'accueil */
.accueil_main {  height:500px; }
body.my-dark-backdrop .logo { background:url('../images/logo.png') center center;	width:100%;	height:80px;  }
body.my-light-backdrop .logo { background:url('../images/logo_light.png') center center;	width:100%;	height:80px;  }

.splash_screen {
	position:absolute;
	top:0px;
	left:0px;
	background:#000000;
	width:100%;
	height:100%;
	z-index:100;
}

.splash_screen img {position:absolute; left:50%; top:150px; margin-left:-150px;}
#img_splash { z-index:150; display:none; }
#img_splash_0 {z-index:120; }

.title_fav_theater { line-height:19px; padding-top:4px; width:80%; font-size:0.8em; }
.img_fav_theater { float:right;}
.city_fav_theater { color:#696969; }

.palm-dark .palm-group
{
	-webkit-border-image: url(../images/palm-group-dark.png) 40 18 18 18 repeat repeat;
}

/* Style : Page Recherche */

.palm-dark .label_field_recherche { color:#ff0000; }
.palm-light .label_field_recherche { color:#990000; }

.rech_ligne { margin-left:5px; margin-top:5px;}
.rech_ligne_jour { margin-right:5px; margin-top:20px; }
.rech_ligne_chercher { margin-right:5px;}

.txt_recherche {	width:200px; position:absolute;	left:65px; }
.txt_recherche_ville {  }
.txt_recherche_film { }
.list_recherche_jour {}

.hint-text { margin-left:7px; margin-top:-5px;}

.img_gps { position:absolute;right:8px; }

/* Style : Page Resultats */
.recherche_termes {	margin-left:5px; margin-right:5px; margin-top:10px; }

.title_theater { margin-left:20px; font-size:0.8em; float:left; width:auto;min-width:220px; border:0px solid white; }

.img_fav_theater { margin-left:5px; font-size:0.8em; float:right }
.title_showtime { margin-left:15px; font-size:0.8em; padding-bottom:3px; }

.palm-dark .distance_theater {	color:#696969;}
.palm-dark .distance_theater_sub {	color:#aaaaaa;}
.palm-dark .horaire_showtime {	color:#A5A5A5;}
.palm-dark .horaire_showtime a { color:#A5A5A5;}
.palm-dark .past_showtime { font-style:italic; color:#3C3C3C; }
.palm-dark .next_showtime { font-weight:bold; color:#D2D2D2; }
.palm-dark .next_showtime a { font-weight:bold; color:#D2D2D2; }
.palm-dark .lang_showtime { color:#ffffff; }

.palm-light .distance_theater {	color:#3C3C3C;}
.palm-light .distance_theater_sub {	color:#3C3C3C;}
.palm-light .horaire_showtime {	color:#3C3C3C;}
.palm-light .horaire_showtime a { color:#3C3C3C;}
.palm-light .past_showtime { font-style:italic; color:#D2D2D2; }
.palm-light .next_showtime { font-weight:bold; color:#101010; }
.palm-light .next_showtime a { font-weight:bold; color:#101010; }
.palm-light .lang_showtime { color:#000000; }

.theater_fold { width:20px; height:20px; background:url(../images/theater_fold.png); position:absolute; }
.unfolded { background-position-y:-20px; margin-top:3px; }

.palm-row-wrapper .truncating-text { white-space:normal; }

#loading-activity-spinner {
	position:fixed;
	top:100px;
	left:100px;
	line-height:120px;
	font-size:.6em;
}

/* Style : Page film */

.movie_img { margin-right:5px; margin-top:5px; }
.movie {	font-size:0.8em; line-height:19px;}
.film_resume { font-size:0.8em; line-height:19px; margin-bottom:20px;}

.info_theater { text-align:center; font-size:0.8em; line-height:16px; }
.film_title_showtime { float:left; font-size:0.8em; line-height:19px; padding-top:5px; margin-left:5px; }

.film_title_actions { float:right; width:30px; height:30px; background:url(../images/palm-button-light.png) no-repeat; margin-top:10px;}
.film_title_actions:active {background-position-y:-30px;}
.film_title_actions img {margin-left:3px;margin-top:-5px;}

.maps_button { width:52px; height:52px; background:url(../images/palm-button-light-large.png) no-repeat; margin-top:10px;}
.maps_button:active {background-position-y:-52px;}
.maps_button img {margin-top:12px;}

.maps_button_disabled {background-position-y:-104px;}
.maps_button_disabled:active {background-position-y:-104px;}


#theaterLinks {
	
}

.flleft { float:left; }
.flcenter {margin-left: auto;margin-right: auto;}
.flright { float:right; }


.palm-radiobutton { min-width:400px; }
.palm-radiobutton div { font-size:10px; padding-top:5px; line-height:20px; }
.palm-radiobutton.three div { width:115px; }

.radio_display { position:absolute; left:50%; margin-left:-176px; }
.tab_container { margin-top:60px; }

.tab_container td {padding-left:5px; padding-right:5px;}

.palm-dark .next_showtime_film { font-weight:bold; color:white; }
.palm-dark .future_showtime_film { font-weight:normal; color:lightgrey; }

.palm-light .next_showtime_film { font-weight:bold; color:black; }
.palm-light .future_showtime_film { font-weight:normal; color:#2D2D2D; }

.palm-scrim-cine { background:url('../images/back_scrim.png') top center; }

.palm-radiobutton  div.tab_selected 
{
	-webkit-border-image: url('../images/radiobutton-middle.png') 50 15 50 15 repeat repeat;
	color: white;
	font-weight: bold;
}

.title_resume { 
	width:100%; 
	background:url('../images/fond_title.jpg') repeat-x;
	color:white; 
	font-weight:bold; 
	text-align:center; 
}

.palm-dark .palm-divider.labeled .right {background:url('../images/palm-divider-line.png') left no-repeat;}
.palm-dark .palm-divider.labeled .left {background:url('../images/palm-divider-line.png') right no-repeat;}

.palm-light .palm-divider.labeled .right {background:url('../images/palm-divider-line.png') left no-repeat;}
.palm-light .palm-divider.labeled .left {background:url('../images/palm-divider-line.png') right no-repeat;}

.palm-light .label {color:#2D2D2D;}

.div_rating { font-size:0.8em; line-height:16px; }
.no_review { text-align:center;font-size:0.8em;}
.rate_star { vertical-align:middle; }

.my-scene-fade-top {
		position: fixed; 
		top: 0; 
		z-index: 100000;
		height: 54px; 
		width: 100%;
		background: url('../images/my-scene-fade-top-dark.png') top center repeat-x;
	}
	
.my-scene-fade-bottom {
	position: fixed; 
	bottom: 0; 
	z-index: 100000;
	height: 54px; 
	width: 100%;
	background: url('../images/my-scene-fade-bottom-dark.png') bottom center repeat-x;
}

/* Préfénces */
.title_pref {padding-left:14px;margin-top:5px;font-size:18px;}
.preview_pref {color:#8d8d8d; font-size:15px; line-height:16px;padding-left:14px;padding-bottom:5px;}
