<div class="palm-row" id="row#{id}" theater="#{id}" x-mojo-touch-feedback="momentary">
	<div class="palm-row-wrapper">
		<div class="fold_arrow theater_fold">&nbsp;</div>
		<div id="rowClick#{id}" class="title_theater">
			#{-data} <br />
			<span class="distance_theater">#{-distance}</span>
		</div>
		<img id="#{-idFavImg}" src="#{-favImg}" style="float:right;"/>
	</div>
</div>

<div id="listShowTimes#{id}" class="showtime_list" x-mojo-element="List">
	<div class="palm-list">
	</div>
</div>




