<table class="about" width=100% >
	<tr>
		<td style="border-bottom:1px solid black;">
			<img src="icon.png" valign="middle" />
			<span class="about_title" id="about_title"></span>&nbsp;
			<span class="about_version" id="about_version"></span>
		</td>
	<tr>
		<td id="about_contenu" align=center colspan=2 style="color:#000000;font-size:15px;">
			<span id="about_devby"></span> <br />
			<span id="about_translated"></span> <br />
			<br />
			<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=C2RWWTDVTBMBS&lc=US&item_name=Binomed&item_number=binomed&currency_code=EUR&bn=PP%2dDonationsBF%3abtn_donate_LG%2egif%3aNonHosted"><img src="images/btn_donate.gif" /> </a>
			<br />
			<span id="about_copyright"></span><br />
			<span id="about_licence"></span>
		</td>
	</tr>
	<tr>
		<td width="50%"><div id="ok_btn" x-mojo-element="Button">OK</div></td>
	</tr>	
</table>
