<div id="main" class="accueil_main">
     <div class="logo" id="logo"></div>
	 <div id="btn_recherche" class="cine_button">Rechercher</div>
	 <div class="palm-group palm_group_fav">
	 	 <div class="palm-group-title" x-mojo-loc='' id='idFavTitleGroup' align="center">&nbsp;</div>
		 <div id='theaterListFavContainer'>
			<div id="listTheaterFav" x-mojo-element="List" >
			</div>
		</div>
	</div>	
</div>

<div class="splash_screen" id="splash">
   <img src="images/splash_front.png" id="img_splash" />   
   <img src="images/splash_front_0.png" id="img_splash_0" />   
</div>
