<div class="palm-row" id="row#{id}" x-mojo-touch-feedback="momentary">
	<div class="palm-row-wrapper">
		<table width="100%">
			<tr>
				<td valign="top">
					<div id="rowFavClick#{id}" class="title_fav_theater">
						#{-data} <br />
						<span id="spnFavClick#{id}" class="city_fav_theater">#{-city}</span>
					</div>
				</td>
				<td valign="top" width="0" align="right">
					<div class="img_fav_theater">
						<img id="#{-idFavRemoveImg}" src="#{-srcFavRemoveImg}" align="right"/>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
